aiohttp==3.8.1
aiosignal==1.3.1
alpaca-trade-api==2.3.0
async-timeout==4.0.2
attrs==22.2.0
blankly==1.18.24b0
bokeh==3.0.3
certifi==2022.12.7
charset-normalizer==2.1.1
contourpy==1.0.7
dateparser==1.1.7
deprecation==2.1.0
frozenlist==1.3.3
idna==3.4
Jinja2==3.1.2
MarkupSafe==2.1.2
msgpack==1.0.3
multidict==6.0.4
newnewtulipy==0.4.6.5
numpy==1.24.2
packaging==23.0
pandas==1.5.3
Pillow==9.4.0
prompt-toolkit==3.0.36
python-binance==1.0.16
python-dateutil==2.8.2
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
questionary==1.10.0
regex==2022.10.31
requests==2.28.2
six==1.16.0
termcolor==2.2.0
tornado==6.2
tzdata==2022.7
tzlocal==4.2
ujson==5.7.0
urllib3==1.26.14
wcwidth==0.2.6
websocket-client==1.5.1
websockets==10.4
xyzservices==2022.9.0
yarl==1.8.2
yaspin==2.3.0
